@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
    @if(FactionComponent != null)
    {
        var allFactions = FactionComponent.GetAllFactions();
        @if(allFactions.Count > 0)
        {
            <div class="factions-list">
                @foreach(var factionPair in allFactions)
                {
                    <FactionItem Faction=@factionPair.Value FactionComponent=@FactionComponent />
                }
            </div>
        }
        else
        {
            <div class="no-factions">
                <p>No factions exist yet. Be the first to create one!</p>
            </div>
        }
    }
</root>

@code
{
    [Property] public FactionComponent FactionComponent { get; set; }
    
    protected override int BuildHash() => System.HashCode.Combine(
        FactionComponent?.GetFactionCount() ?? 0
    );
} 