FactionsList
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.factions-list
	{
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.section-title
		{
			font-size: 18px;
			font-family: Poppins, sans-serif;
			color: #ffffff;
			font-weight: 600;
			margin: 0 0 15px 0;
			text-align: center;
		}
	}

	.no-factions
	{
		text-align: center;
		padding: 20px;
		color: #aaa;
		font-family: Poppins, sans-serif;
		font-style: italic;
		margin-bottom: 20px;
		width: 100%;
		max-width: 600px;
		display: flex;
		justify-content: center;
		align-items: center;

		p 
		{
			margin: 0;
			text-align: center;
		}
	}
} 